.direttiva-section {
    height: auto;
    background: rgba(128, 128, 128, 0.23);
    padding-top: 20px;
    padding-bottom: 20px;
}

.myPhoto {
    border-radius: 5%;
    width: 133%;
    transition: 0.28s cubic-bezier(0.75, -0.01, 0.38, 1.01);
}

.myPhoto.active {
    height: 50%;
}

.fixed-footer {
    margin-top: 60px;
    width: 100%;
    height: 100px;
    background: grey;
}

.col-margin-bottom {
    margin-bottom: 20px;
}

.altezza-fissa {
    height: 900px;
}

div.rectangle {
    width: 100%;
    height: 33%;
    border: 1px solid black;
    margin-bottom: 10px;
}

div#images img {
    display: inline;
    height: 130px;
}

.static-container {
    margin: 0;
    width: 100px;
    height: 100px;
}

.foto-container {
    background: transparent;
    margin: 0;
    width: 100px;
    height: 100px;
    transition: 0.4s cubic-bezier(0.75, -0.01, 0.38, 1.01);
}

.foto-container-x {
    background: transparent;
    width: 100%;
    height: 100%;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    transition: 0.4s cubic-bezier(0.66, -0.01, 0.23, 1.01);
    position: initial;
}

.foto-container.active {
    position: fixed;
}

.materialize-experiment-container .foto-container-y {
    overflow: hidden;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 100%;
    height: 100%;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 5%;
    transition: 0.4s cubic-bezier(0.75, -0.01, 0.38, 1.01);
    position: initial;
}

.materialize-experiment-container .foto-container-y:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.materialize-experiment-container .foto-container-y.active {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.loader {
    box-shadow: 0 0 0 rgba(52, 152, 219, 0.4);
    margin: 0 auto;
    border: 16px solid #ffffff;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 4s ease infinite;
}

.loader2 {
    box-shadow: 0 0 0 rgba(52, 152, 219, 0.4);
    margin-top: 4px;
    margin-left: 4px;
    border: 10px solid #3498db;
    border-top: 10px solid #ffffff;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin2 3s ease-in infinite;
}

.loader3 {
    box-shadow: 0 0 0 rgba(52, 152, 219, 0.4);
    margin-top: 5px;
    margin-left: 5px;
    border: 6px solid #ffffff;
    /* Light grey */
    border-top: 6px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin3 2s ease-out infinite;
}

.loader4 {
    box-shadow: 0 0 0 rgba(52, 152, 219, 0.4);
    margin-top: 6px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    border-right: 15px solid #3498db;
    border-top: 15px solid transparent;
    border-left: 15px solid #3498db;
    border-bottom: 15px solid #3498db;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: spin4 1s ease infinite;
}

@media only screen and (min-width: 992px) {
    nav a.brand-logo {
        left: 10;
    }
}

@keyframes spin {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.4);
        transform: rotate(0deg);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(52, 152, 219, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.4);
        transform: rotate(0deg);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(52, 152, 219, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
        transform: rotate(360deg);
    }
}

@keyframes spin3 {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.4);
        transform: rotate(0deg);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(52, 152, 219, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
        transform: rotate(360deg);
    }
}

@keyframes spin4 {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.4);
        transform: rotate(0deg);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(52, 152, 219, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
        transform: rotate(360deg);
    }
}