footer {
    margin-bottom: 60px;
}

.col-margin-bottom {
    margin-bottom: 20px;
}

.altezza-fissa {
    height: 900px;
}

div.rectangle {
    width: 100%;
    height: 33%;
    border: 1px solid black;
    margin-bottom: 10px;
}

div.parallax-container div.parallax img {}

div#images img {
    display: inline;
    height: 130px;
}

.static-container {
    margin: 0;
    width: 100px;
    height: 100px;
}

.foto-container {
    background: rgba(255, 0, 0, 0.38);
    margin: 0;
    width: 100px;
    height: 100px;
    transition: 0.4s cubic-bezier(0.75, -0.01, 0.38, 1.01);
}

.foto-container-x {
    background: transparent;
    width: 100%;
    height: 100%;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    transition: 0.4s cubic-bezier(0.66, -0.01, 0.23, 1.01);
    position: initial;
}

.foto-container.active {
    position: fixed;
}

.materialize-experiment-container .foto-container-y {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 100%;
    height: 100%;
    background: grey;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    transition: 0.4s cubic-bezier(0.75, -0.01, 0.38, 1.01);
    position: initial;
}

.materialize-experiment-container .foto-container-y:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.loader {
    box-shadow: 0 0 0 rgba(52, 152, 219, 0.4);
    margin: 0 auto;
    border: 16px solid #ffffff;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 4s ease infinite;
}

.loader2 {
    box-shadow: 0 0 0 rgba(52, 152, 219, 0.4);
    margin-top: 4px;
    margin-left: 4px;
    border: 10px solid #3498db;
    border-top: 10px solid #ffffff;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin2 3s ease-in infinite;
}

.loader3 {
    box-shadow: 0 0 0 rgba(52, 152, 219, 0.4);
    margin-top: 5px;
    margin-left: 5px;
    border: 6px solid #ffffff;
    /* Light grey */
    border-top: 6px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin3 2s ease-out infinite;
}

.loader4 {
    box-shadow: 0 0 0 rgba(52, 152, 219, 0.4);
    margin-top: 6px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    border-right: 15px solid #3498db;
    border-top: 15px solid transparent;
    border-left: 15px solid #3498db;
    border-bottom: 15px solid #3498db;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: spin4 1s ease infinite;
}

@media only screen and (min-width: 992px) {
    nav a.brand-logo {
        left: 10;
    }
}

@keyframes spin {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.4);
        transform: rotate(0deg);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(52, 152, 219, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.4);
        transform: rotate(0deg);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(52, 152, 219, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
        transform: rotate(360deg);
    }
}

@keyframes spin3 {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.4);
        transform: rotate(0deg);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(52, 152, 219, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
        transform: rotate(360deg);
    }
}

@keyframes spin4 {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.4);
        transform: rotate(0deg);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(52, 152, 219, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0);
        transform: rotate(360deg);
    }
}

#stage {
    margin: 0 auto;
}

.spinner div {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 120px;
    font-size: 100px;
}

.spinner .face1 {
    -webkit-transform: translateZ(60px);
    -ms-transform: translateZ(60px);
    transform: translateZ(60px);
}

.spinner .face2 {
    -webkit-transform: rotateY(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) translateZ(60px);
    transform: rotateY(90deg) translateZ(60px);
}

.spinner .face3 {
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
}

.spinner .face4 {
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
}

.spinner .face5 {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
}

.spinner .face6 {
    -webkit-transform: rotateX(-90deg) translateZ(60px);
    -ms-transform: rotateX(-90deg) translateZ(60px);
    transform: rotateX(-90deg) translateZ(60px);
}

.spinner {
    -webkit-animation: spincube 12s ease-in-out infinite;
    animation: spincube 12s ease-in-out infinite;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 60px 60px 0;
    -ms-transform-origin: 60px 60px 0;
    transform-origin: 60px 60px 0;
}

@-webkit-keyframes spincube {
    16% {
        -webkit-transform: rotateY(-90deg);
    }
    33% {
        -webkit-transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        -webkit-transform: rotateY(180deg) rotateZ(90deg);
    }
    66% {
        -webkit-transform: rotateY(90deg) rotateX(90deg);
    }
    83% {
        -webkit-transform: rotateX(90deg);
    }
}

@keyframes spincube {
    16% {
        -ms-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }
    33% {
        -ms-transform: rotateY(-90deg) rotateZ(90deg);
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        -ms-transform: rotateY(180deg) rotateZ(90deg);
        transform: rotateY(180deg) rotateZ(90deg);
    }
    66% {
        -ms-transform: rotateY(90deg) rotateX(90deg);
        transform: rotateY(90deg) rotateX(90deg);
    }
    83% {
        -ms-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}