<!DOCTYPE>
<html ng-app="appMaterialPhotoGallery">

<head>
    <script src="../materialize/js/angular.min.js"></script>
    <script src="../js/MaterialPhotoGalleryCtrl.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/MaterialPhotoGalleryCtrl.css">
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css" media="screen,projection">
    <link rel=" stylesheet " href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Material Photo Gallery</title>
</head>

<body>
    <div class="materialize-experiment-container" ng-controller="MaterialPhotoGalleryCtrl as vm">
        <div class="navbar-fixed">
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
            </ul>
            <ul id="dropdown2" class="dropdown-content">
                <li><a href="#!">one</a></li>
                <li><a href="#!">two</a></li>
                <li class="divider"></li>
                <li><a href="#!">three</a></li>
            </ul>
            <nav id="nav" class="light-blue lighten-1" role="navigation">
                <div clas="nav-wrapper container">
                    <a class="brand-logo " href="#"><i class="material-icons">spa</i>Logo</a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="#">
                                <i class="material-icons">whatshot</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="material-icons">person</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="material-icons">public</i>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-button" href="#!" data-activates="dropdown1">
                                <i class="material-icons left">sentiment_very_satisfied</i> Drop
                            </a>
                        </li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </div>
        <ul id="nav-mobile" class="side-nav">
            <li>
                <a href="#">
                    <i class="material-icons">whatshot</i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">person</i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons">public</i>
                </a>
            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown2">
                    <i class="material-icons left">sentiment_very_satisfied</i> Drop
                </a>
            </li>
        </ul>
        <main>
            <div class="parallax-container">
                <div class="parallax"><img src="https://c1.staticflickr.com/6/5737/23409460400_8f2414cff0_c.jpg"></div>
            </div>
            <div class="section white">
                <div class="row container">
                    <h2 class="header">Material Photogallery</h2>
                    <p class="grey-text text-darken-3 lighten-3">First release of a material photogallery.</p>
                </div>
                <div class="row container">

                    <form>
                        <div class="input-field col s3">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </form>

                </div>
            </div>
            <div class="section photogallery">
                <div ng-hide="vm.spinner==false" class="col s12">
                    <div class="loader">
                        <div id="" class="loader2">
                            <div id="" class="loader3">
                                <div id="" class="loader4"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row center">
                        <div ng-repeat="foto in fotografie track by $index" class="col s6 m2 col-margin-bottom">
                            <div id="static_container_{{foto.id}}" class="static-container">
                                <div id="container_{{foto.id}}" class="foto-container" ng-click="vm.openPhoto(foto.id,foto.url)">
                                    <div id="{{foto.id}}" class="foto-container-x {{foto.id}} ">
                                        <div id="interno_{{foto.id}}" class="foto-container-y">
                                            <img id="myPhoto_{{foto.id}}" ng-src="{{foto.url}}" class="myPhoto" alt="" />


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-action-btn horizontal click-to-toggle ">
                <a class="btn-floating btn-large blu ">
                    <i class="material-icons ">menu</i>
                </a>
                <ul>
                    <li><a class="btn-floating blu "><i class="material-icons ">fingerprint</i></a></li>
                    <li><a class="btn-floating blu "><i class="material-icons ">pan_tool</i></a></li>
                    <li><a class="btn-floating blu "><i class="material-icons ">warning</i></a></li>
                    <li><a class="btn-floating blu "><i class="material-icons ">attach_file</i></a></li>
                </ul>
            </div>
        </main>

        <footer>
            <div class="fixed-footer"> </div>
        </footer>
    </div>

    <!--  Scripts-->
    <script type="text/javascript " src="../materialize/js/jquery-3.1.1.min.js "></script>
    <script type="text/javascript " src="../materialize/js/materialize.js "></script>

</body>

</html>